#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(36, 77, 118);
  color: rgb(108, 171, 115);
}
